<!-- Header -->
<header class="bg-white shadow-md sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
        <div class="flex justify-between items-center">
            <a href="/" class="flex items-center space-x-3 hover:opacity-80 transition">
                <img src="icons8-logo.svg" alt="MyShop Logo" class="h-12 w-12">
                <span
                    class="text-2xl font-bold bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent">PixelStore</span>
            </a>
            <nav class="hidden md:flex space-x-8">

                <div class="relative group">
                    <button
                        class="text-gray-600 hover:text-blue-600 transition-colors duration-200 flex items-center space-x-1 hover:cursor-pointer"
                        (click)="filterProducts(0)">
                        <span>Category</span>
                    </button>
                    <div
                        class="absolute left-1/2 -translate-x-1/2 mt-2 w-48 bg-white rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-50">
                        <div class="py-1">
                            <div *ngFor="let category of categories"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-200 hover:cursor-pointer"
                                (click)="filterProducts(category.id)">
                                {{category.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="text-gray-600 hover:text-blue-600 transition-colors duration-200">Home</a>

                <a href="#" class="text-gray-600 hover:text-blue-600 transition-colors duration-200">About</a>
                <a href="#" class="text-gray-600 hover:text-blue-600 transition-colors duration-200">Contact</a>
            </nav>
            <div class="flex items-center space-x-4">
                <div class="relative group">
                    <button type="button" class="relative group">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 text-gray-600 group-hover:text-blue-600 transition-colors" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                        <span
                            class="absolute -top-2 -right-2 bg-blue-600 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center">0</span>
                    </button>
                </div>
                <div class="relative group">
                    <button class="flex items-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 text-gray-600 group-hover:text-blue-600 transition-colors" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                        </svg>
                    </button>
                    <div
                        class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300">
                        <div class="py-1">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 bg-gray-100">My
                                Profile</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 bg-gray-100">My
                                Orders</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 bg-gray-100">Log
                                Out</a>
                        </div>
                    </div>
                </div>
                <button class="md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>


            </div>
        </div>
    </div>
</header>